#root {
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

header {
  border-bottom: 1px solid gray;
}

label > * {
  display: block;
}

input {
  border-radius: 0.2rem;
  border: 1px solid gray;
  font-size: 1.25rem;
  padding: 0.25rem;
}

/* safari date input size fix */
input::-webkit-datetime-edit {
  line-height: 1;
  padding: 0;
  margin-bottom: -2px;
}

button {
  border: 1px solid #007bff;
  border-radius: 0.5rem;
  padding: 0.25rem 2rem;
  background-color: #007bff;
  color: white;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: white;
  color: #007bff;
}

button:disabled {
  background-color: transparent;
  border-color: black;
  color: black;
  opacity: 0.5;
  cursor: not-allowed;
}

.text-danger {
  font-size: 0.75rem;
  color: red;
}

label {
  font-size: 0.9rem;
}